//function addplayer(){
//  var current_vid_id = $('#player').attr("class");
  //if("<%#= j @link.id.to_s %>" != current_vid_id){
    //debugger;
    //$('#player').attr("class","<%#= j @link.id.to_s %>")
    <!-- //$('#player').html("<a class='embedly-card' href='<%#= j @link.url %>'></a>") -->
  //}
//}

//addplayer();