<body class="loading">
  <div class="load-main front" style="height:100%;">
  <!-- <div class="full-bar">
    <div class="progress-load" id="progress-load"></div>
  </div> --><p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <!-- <h1 class="load-text" style="color: #fff;">Your playlist is loading</h1> -->
  <center>
    <%= image_tag('your_loading.png') %><br>
    <div class="three-quarters-loader"></div>
  </center>


  <div id="temp_file" style="visibility:hidden;"><%=@file%></div>
  <div id="user_id" style="visibility:hidden;"><%= current_user.id %></div>
  <script>
    function parser (){
      var file_path = $('#temp_file').text();
      var user_id = $('#user_id').text();
      $.post("/users/parse",{file_path: file_path})
      setTimeout(function(){
          window.location = "/users/"+user_id
        },2500)
    };
    parser();
  </script> 
</div>


<%= javascript_include_tag "application" %>
    <script>
      $(function() {
            var BV = new $.BigVideo();
      BV.init();
      BV.show("http://www.dacewillmott.com/load-vid.mp4",{ambient:true});
      });
    </script>
</body>