"use strict";

function addplayer(){

  $('#links_array').html("<%= j @links_array_hash.to_json %>")
  $('#links_array').attr("class","0")
  <!-- $('#player').attr("class","<%#= j @link.id.to_s %>") -->
  $('#player').html("<a class='embedly-card' href='<%= j @link.url %>'></a>")

}

addplayer();


function getCard(){
  $('iframe.embedly-card').each(function(){
     
    // Create the player.
    var player = new playerjs.Player(this);
    // Wait for the player to be ready before attaching more event.
    // $('#player .feed-me > iframe.embedly-card').attr('height', 400);
    // $('iframe.embedly-card').attr('height', 400);

    player.on('ready', function(){  
      player.play();
    });


    player.on('ended', function(){
        // Code that needs to find next sibling in table list and start autoplaying.
        // debugger;
      })

  });
    
  }

  setTimeout(getCard, 1500);




