<div class="container">
  <div class="col-xs-2"></div>
  <div class="col-xs-8 main">
    
      <h1>Upload your iTunes Library</h1>
    
  
      <p>You can find your library at: <br><span> /Users/username/Music/iTunes/iTunes Library.xml</span></p>
   
      
      <button type="button">Find Library</button> <button type="button">Upload</button>
    
  </div>
    <!-- <%#= form_tag({action: :upload}, multipart: true) do %>
      <%#= file_field_Tag 'itunes' %>
    <%# end %> -->
  <div class="col-xs-2"></div>
</div>
