<!-- <script src="jquery-ui-1.8.22.custom.min.js"></script> -->

<body class="black-bg">
<div class="container front">
  <div class="col-xs-2"></div>
  <div class="col-xs-8 main">
    
      <h1>Upload your iTunes Library</h1>
    
      <p>You can find your library at: <br><span> /Users/username/Music/iTunes/iTunes Library.xml</span></p>

        <%= form_for@user, :url => users_upload_path, multipart: true, method: :post do |f| %>
        <%= f.file_field :name %> <%= f.submit %>
    <% end %>

    
  </div>

  <div class="col-xs-2"></div>
</div>

<%= javascript_include_tag "application" %>
    <script>
      $(function() {
            var BV = new $.BigVideo();
      BV.init();
      BV.show("http://www.dacewillmott.com/eat.mp4",{ambient:true});
      });
    </script>

</body>
