<h1>Upload your iTunes Library</h1>
<p>You can find your library at: <span> /Users/username/Music/iTunes/iTunes Library.xml</span></p>
<button type="button">Upload</button>

<!-- <%#= form_tag({action: :upload}, multipart: true) do %>
  <%#= file_field_Tag 'itunes' %>
<%# end %> -->