<div class="container">
  <div class="col-xs-2"></div>
  <div class="col-xs-8 main">
  
  <ul>
    <%= @songs.each do |song| %>
      <li class="<%= cycle('even', 'odd') %>"><%= song.name %></li>
    <% end %>
  </ul>

  </div>
  <div class="col-xs-2"></div>
</div>
