/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require youtube
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
  background-color: #000
}
/*

.home-index {
  background-color: #1a1a1a;
}

h1, p {
  color: #fff;
}
*/

.main {
  text-align: left;
}



span {
  font-style: italic;
}

.container {
  padding: 50px 0px 100px 0px;
}

/* FONTS */

h1, p, h3 {
  padding: 20px 0px 20px 0;
}

h1, h3 {
  text-align: center;
}

/* TABLE */

td {
  padding: 6px 10px 6px 10px;
  border-bottom: 1px solid #e5e5e5;
}

.play {
  padding: 0px 10px 0px 0px; 
}

.navbar {
  position: fixed;
  z-index: 100;
  min-height: 50px;
  margin-bottom: 0px;
  border: 0px;
  background-color: #fff;
  left: 0;
  width: 100%;
  border-radius: 0;
  /*background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #0FAFC4),
  color-stop(1, #2AE1EB)
);
background-image: -o-linear-gradient(bottom, #0FAFC4 0%, #2AE1EB 100%);
background-image: -moz-linear-gradient(bottom, #0FAFC4 0%, #2AE1EB 100%);
background-image: -webkit-linear-gradient(bottom, #0FAFC4 0%, #2AE1EB 100%);
background-image: -ms-linear-gradient(bottom, #0FAFC4 0%, #2AE1EB 100%);
background-image: linear-gradient(to bottom, #0FAFC4 0%, #2AE1EB 100%);*/
/*  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #000000),
  color-stop(1, #262626)
  );
  background-image: -o-linear-gradient(bottom, #000000 0%, #262626 100%);
  background-image: -moz-linear-gradient(bottom, #000000 0%, #262626 100%);
  background-image: -webkit-linear-gradient(bottom, #000000 0%, #262626 100%);
  background-image: -ms-linear-gradient(bottom, #000000 0%, #262626 100%);
  background-image: linear-gradient(to bottom, #000000 0%, #262626 100%);
  */
  /*background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #0F0F0F),
  color-stop(1, #404040)
);
background-image: -o-linear-gradient(bottom, #0F0F0F 0%, #404040 100%);
background-image: -moz-linear-gradient(bottom, #0F0F0F 0%, #404040 100%);
background-image: -webkit-linear-gradient(bottom, #0F0F0F 0%, #404040 100%);
background-image: -ms-linear-gradient(bottom, #0F0F0F 0%, #404040 100%);
background-image: linear-gradient(to bottom, #0F0F0F 0%, #404040 100%);*/
background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #E3E3E3),
  color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #E3E3E3 0%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #E3E3E3 0%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #E3E3E3 0%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #E3E3E3 0%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #E3E3E3 0%, #FFFFFF 100%);
}