// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.front {
 z-index: 100;
 position: absolute;
 top: 0;
 left: 0; 
 width: 100%;
}

.mm-logo {
  padding-top: 150px;
}

body {
 background-color: #000;
  
}

.items {
  /*padding-top: 10px 0px 0px 0px;*/
  /*border: 1px solid red;*/
  vertical-align: center;
  width: 70%;
  /*float: right;*/
  padding-top: 10px;
}

#tags {
  margin-left: 20px;
}

.col-xs-6 .main {
  text-align: center;
}

.right-panel {
  text-align: right;
}

.col-xs-2 {
  height: 300px;
}

table a:not(.btn) {
  text-decoration: none;
}

/*form {
  border: 0px 0px 1px 0px solid #000;
}*/