// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.front {
 z-index: 100;
 position: absolute;
 top: 0;
 left: 0; 
 width: 100%;
}

.icon-set {
  width: 80%;
  display: inline-block;
  /*border: 2px solid yellow;*/
  clear: both;
  height: 200px;
}

.line {
  width: 80px;
  height: 1px;
  /*padding-bottom: 5px;*/
  margin-bottom: 15px;
}

.icon-single1,
.icon-single3 {
  width: 33%;
  color: #7c7c7c;
  /*border: 2px red solid;*/
  height: 100%;
}

.icon-single2 {
  width: 34%;
  color: #7c7c7c;
  height: 100%;

}

.icon-single1,
.icon-single2
 {
  float:left;
}


.icon-single3 {
  float:right;
}




.mm-logo {
  padding-top: 100px;
}

body {
 background-color: #000;
  
}

.feature1-logo, 
.feature2-logo, 
.feature3-logo {
  padding: 20px 10px 20px 10px;

}


.items {
  /*padding-top: 10px 0px 0px 0px;*/
  /*border: 1px solid red;*/
  vertical-align: center;
  width: 70%;
  /*float: right;*/
  padding-top: 10px;
}

#tags {
  margin-left: 20px;
}

.col-xs-6 .main {
  text-align: center;
}

.right-panel {
  text-align: right;
}

.col-xs-2 {
  height: 300px;
}

table a:not(.btn) {
  text-decoration: none;
}

/*form {
  border: 0px 0px 1px 0px solid #000;
}*/