// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.front {
 z-index: 100;
 position: absolute;
 top: 0;
 left: 0; 
 width: 100%;
}

.mm-logo {
  width: 60%;
  height: 60%;
}

body {
 background-color: #000;
  
}

.col-xs-6 .main {
  text-align: center;
}

.right-panel {
  text-align: right;
}

.col-xs-2 {
  height: 300px;
}

a {
   text-decoration: none;
} 