// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#player {
  position: fixed;
  top: 0px;
  background-color: #fff;
  z-index: 4;
  padding: 10px;
  /*height: 500px;*/
}

.hide {
  display: none;
}


/*.page {
  border: 10px solid red;
}*/

.video-panel {
  position: absolute;
  left: 0px;
  top: 0px;
}