// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#player {
  position: fixed;
  top: 0px;
  background-color: #000;
  padding: 10px;
  /*height: 500px;*/
}



/*.page {
  border: 10px solid red;
}*/

.video-panel {
  position: absolute;
  left: 0px;
  top: 0px;
}

.loading {
  /*background: url(/random_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background: #232323;
}

.full-bar {
  width: 15%;
  height: 2px;
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
}

.progress-load {
height: 2px;
background-color: #fff;
-webkit-transition: width 2s; /* Safari */
transition: width 2s;
}

.feed-me {
  z-index: 99;
  width: 100%;
  height: 400px;
  background-color: #000;
  position: fixed;
  left: 0;
  /*float: left;*/
  /*border: 2px solid yellow;*/
}


.load-text {
  color: #ffffff;
}

.responsive-object {
  position: relative;
  padding-bottom: 0;
  height: 0;
  margin: 0px 0;
  overflow: hidden;
}
.responsive-object iframe,
  .responsive-object object,
  .responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}