// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#player {
  position: fixed;
  top: 0px;
  background-color: #fff;
  padding: 10px;
  /*height: 500px;*/
}



/*.page {
  border: 10px solid red;
}*/

.video-panel {
  position: absolute;
  left: 0px;
  top: 0px;
}

/*.loading {
  background: url(<%= randomized_background_image %>) no-repeat center center fixed; 
}*/

.feed-me {
  z-index: 99;
  width: 100%;
  height: 400px;
  background-color: black;
  position: fixed;
  top: 100;
  left: 0;
}

.load-text {
  color: #ffffff;
}

.responsive-object {
  /*position: relative;*/
  padding-bottom: 0;
  /*height: 0;*/
  margin: 0px 0;
  overflow: hidden;
  height:375px;
  position:absolute;
  width:400px;
  left:43%;
  margin-left:-100px;
}
.responsive-object iframe,
  .responsive-object object,
  .responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}